body {
    margin: 0;

    height: 100vh;
    background-color: #f3f3f3;
    overflow: hidden;
    position: relative;
}

.content {
    margin-left: 5%;
    margin-right: 5%;
}
.character {
    width: 100px;
    height: 100px;
    background: url('Assets/character.png') no-repeat center/cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);

}

header {
    background: #1f1f1f;
}
footer {
    background: #1f1f1f;
    color: white;
}
.title{
    text-align: center;
}
.headerTitle {
    margin: 1%;
    padding: 10px 5%;
    background: rgb(65, 65, 65);
    color: white;
    border-radius: 1px;
    user-select: none;
    text-align: center;
    transition: background 0.3s ease;
}

.dialouge {
    color: blue;
    font-style: italic;
}

.links {
    display: flex;
    gap: 0px;
}

.link {
    margin: 1%;
    padding: 10px 5%;
    background: rgb(65, 65, 65);
    color: white;
    border-radius: 1px;
    user-select: none;
    text-align: center;
    transition: background 0.3s ease;
    
}

.link:hover {
    background: rgb(116, 110, 93);
}

.link:visited {
    text-decoration: none;
    color: white;
    background: rgb(65, 65, 65); /* Match the unvisited state */
}
a {
    text-decoration: none;
    color: white;
    background: rgba(65, 65, 65, 0); /* Match the unvisited state */
}

a:visited {
    text-decoration: none;
    color: white;
    background: rgba(65, 65, 65, 0); /* Match the unvisited state */
}

.platform-zone {
    position: absolute;
    background-color: red;
    height: 20px;
}

.flex-container {
    display: flex;
    gap: 20px; /* Space between columns */
}

.column {
    flex: 1; /* Makes columns equal width */
    padding: 20px;

}
