body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
}

img1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

img1 img {
    max-width: 100%; /* Ensure image scales responsively */
    height: auto;
}